.dashboard{
    position: relative;
}

.dashboard_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
=======================
   sidebar starrt
=======================
*/

.dashboard_sidebar {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 265px;
    height: 100vh;
    background-color: var(--sideBg);
    transition: var(--transition);
    z-index: 999;
}

.dashboard_sidebar.activeSidebar{
    left: 0px;
}

.sidebar_content{
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.sidebar_top{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 28px;
}

.sidebar_logo {
    width: 50px;
    margin: 0px auto 10px;
}

.sidebar_logo img{
    width: 100%;
    display: block;
}

.sidebar_title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--textColor);
    text-transform: uppercase;
}

.sidebar_nav{

}

.sidebar_nav_item {
    padding: 10px 20px;
}

.sidebar_nav_item.active {
    background-color: rgb(232 232 232 / 10%);
}

.sidebar_nav_item.active .sidebar_nav_icon svg path{
    fill: var(--textColor);
}

.sidebar_nav_item.active .sidebar_nav_text{
    color: var(--textColor);
    font-weight: bold;
}

.sidebar_navItem_inner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar_nav_icon{
    display: block;
    width: 21px;
}

.sidebar_nav_icon svg path{
    fill: #ADB5BD;
}

.sidebar_nav_text{
    color: #ADB5BD;
    font-size: 18px;
    line-height: 24px;
    display: block;
    width: calc(100% - 31px);
    margin-left: 10px;
}

/*
=======================
   dashboard body starrt
=======================
*/

.dashboard_body{
    margin-left: 0px;
    width: 100%;
    transition: var(--transition);
    background-color: var(--primaryBg);
    min-height: 100vh;
}

.dashboard_header {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.dashboard_toggle{
    display: block;
}

.dashboard_toggle ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 6px;
}

.dashboard_toggle ul li{
    height: 2px;
    width: 30px;
    background-color: var(--textColor);
}

.dashboard_profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ADB5BD;
    display: flex;
    padding: 8px;
}

.dashboard_profile img {
    width: 100%;
    object-fit: contain;
    display: block;
}

.dashboard_body_content{
    padding: 20px 25px;
}

.dashboard_history{
    position: relative;
}

.dashboard_history_wraper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.admin_deposit_wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.admin_payment_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.card_item_divide{
    grid-column: span 1;
}

.card_item {
    border-radius: 16px;
    padding: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card_itame_image{
    position: relative;
}

.card_itame_image img{
    max-width: 100%;
    margin: 0px auto;
}

.card_itame_image img {
    max-width: 100%;
    display: block;
    margin: 0px auto;
}

.card_item_name{
    color: var(--textColor);
}

.card_item_title{
    margin-bottom: 10px;
}

.admin_deposit {
    margin-top: 20px;
}

.admin_payment_title{
    font-size: 22px;
    font-weight: bold;
    color: var(--textColor);
    margin: 37px 0px;
}

.card_item_price{
    font-size: 24px;
    color: var(--primaryBg);
    line-height: 30px;
    font-weight: 700;
}

/* admin page title */

.admin_page_title{
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    color: var(--textColor);
    margin-bottom: 20px;
}

/* table design */

.admin_table {
    border-spacing: 0;
    width: 100%;
    color: #fff;
    overflow-x: auto;
    border-radius: 16px;
}

.admin_table table {
    min-width: 768px;
    overflow-x: auto;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
}

.admin_table table th {
    color: rgb(232 232 232 / 60%);
}

.admin_table table th:nth-child(1){
    width: 46%;
}

.admin_table table th:nth-child(2){
    width: 27%;
}

.admin_table table th:nth-child(3){
    width: 27%;
}

.admin_table table td, 
.admin_table table th {
    padding: 24px;
    border: 1px solid var(--primaryColor);
    text-align: left;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    background-color: #22223B;
}

.admin_table table td{
    color: var(--textColor);
}




