.dashboard{
    position: relative;
}

.dashboard_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
=======================
   sidebar starrt
=======================
*/

.dashboard_sidebar {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 265px;
    height: 100vh;
    background-color: var(--sideBg);
    transition: var(--transition);
    z-index: 999;
}

.dashboard_sidebar.activeSidebar{
    left: 0px;
}

.sidebar_content{
    height: 100vh;
    width: 100%;
    overflow-y: auto;
}

.sidebar_top{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 28px;
}

.sidebar_logo {
    width: 50px;
    margin: 0px auto 10px;
}

.sidebar_logo img{
    width: 100%;
    display: block;
}

.sidebar_title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--textColor);
    text-transform: uppercase;
}

.sidebar_nav{
    position: relative;

}

.sidebar_nav_item {
    padding: 10px 20px;
}

.sidebar_nav_item.active {
    background-color: rgb(232 232 232 / 10%);
}

.sidebar_nav_item.active .sidebar_nav_icon svg path{
    fill: var(--textColor);
}

.sidebar_nav_item.active .sidebar_nav_text{
    color: var(--textColor);
    font-weight: bold;
}

.sidebar_navItem_inner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar_nav_icon{
    display: block;
    width: 21px;
}

.sidebar_nav_icon svg path{
    fill: #ADB5BD;
}

.sidebar_nav_text{
    color: #ADB5BD;
    font-size: 18px;
    line-height: 24px;
    display: block;
    width: calc(100% - 31px);
    margin-left: 10px;
}

/*
=======================
   dashboard body starrt
=======================
*/

.dashboard_body{
    margin-left: 0px;
    width: 100%;
    transition: var(--transition);
    background-color: var(--primaryBg);
    min-height: 100vh;
}

.dashboard_header {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.dashboard_toggle{
    display: block;
}

.dashboard_toggle ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 6px;
}

.dashboard_toggle ul li{
    height: 2px;
    width: 30px;
    background-color: var(--textColor);
}

.dashboard_profile {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ADB5BD;
    display: flex;
    padding: 8px;
}

.dashboard_profile img {
    width: 100%;
    object-fit: contain;
    display: block;
}

.dashboard_body_content{
    padding: 20px 25px;
}

.dashboard_history{
    position: relative;
}

.dashboard_history_wraper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.admin_deposit_wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.admin_payment_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.card_item_divide{
    grid-column: span 1;
}

.card_item {
    border-radius: 16px;
    padding: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card_itame_image{
    position: relative;
}

.card_itame_image img{
    max-width: 100%;
    margin: 0px auto;
}

.card_itame_image img {
    max-width: 100%;
    display: block;
    margin: 0px auto;
}

.card_item_name{
    color: var(--textColor);
}

.card_item_title{
    margin-bottom: 10px;
}

.admin_deposit {
    margin-top: 20px;
}

.admin_payment_title{
    font-size: 22px;
    font-weight: bold;
    color: var(--textColor);
    margin: 37px 0px;
}

.card_item_price{
    font-size: 24px;
    color: var(--primaryBg);
    line-height: 30px;
    font-weight: 700;
}

/* admin page title */

.admin_page_title{
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    color: var(--textColor);
    margin-bottom: 20px;
}

/* table design */

.admin_table {
    border-spacing: 0;
    width: 100%;
    color: #fff;
    overflow-x: auto;
    border-radius: 16px;
}

.admin_table table {
    min-width: 768px;
    overflow-x: auto;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
}

.admin_table table th {
    color: rgb(232 232 232 / 60%);
}

.admin_table table th:nth-child(1){
    width: 46%;
}

.admin_table_reffer table th:nth-child(1){
    width: auto;
}

.admin_table table th:nth-child(2){
    width: 27%;
}

.admin_table table th:nth-child(3){
    width: 27%;
}

.admin_table table td, 
.admin_table table th {
    padding: 24px;
    border: 1px solid var(--primaryColor);
    text-align: left;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    background-color: #22223B;
}

.admin_table table td{
    color: var(--textColor);
    font-weight: 700;
}

.admin_form{
    margin-bottom: 40px;
}

.admin_form_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.admin_form_inner{
    position: relative;
    height: 60px;
}

.admin_form_control {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    border: none;
    outline: none;
    color: var(--primaryBg);
    background-color: var(--primaryColor);
    border-radius: 12px;
}

.admin_form_control option{
    background-color: #22223B;
    color: var(--textColor);
    padding: 5px;
}


.admin_form_icon {
    position: absolute;
    color: var(--primaryBg);
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.c_primary{
    color: var(--primaryColor) !important;
}

.table_item_btn a {
    display: inline-block;
    padding: 9px 18px;
    font-size: 16px;
    line-height: 24px;
    background-color: rgb(255 159 28 / 30%);
    color: var(--primaryColor);
    border-radius: 10px;
}

.make_deposit_heading{
    position: relative;
}

.make_deposit_heading p{
    font-weight: bold;
    font-size: 19px;
    color: #adb5bd;
    margin-bottom: 10px;
}

.make_deposit_title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}


.make_deposit_title_text{
    font-weight: bold;
    font-size: 19px;
    text-align: left;
    color: #fff;
}


.payment_input_user {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.payment_input_user_form{
    position: relative;
    height: 60px;
    max-width: 420px;
    width: 100%;
    border: 2px solid var(--primaryColor);
    border-radius: 12px;
}

.payment_input_user_balance{
    height: 100%;
    width: calc(100% - 100px);
    outline: none;
    border: none;
    color: var(--textColor);
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    background-color: transparent;
    padding: 20px;
}

.payment_input_user_button a {
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    color: var(--primaryBg);
    background: var(--primaryColor);
    border-radius: 12px;
    height: 100%;
    width: 100px;
    position: absolute;
    display: grid;
    place-content: center;
    top: 0px;
    right: -3px;
}

/* edit acount */


.edit_acount_title h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: var(--textColor);
    margin-bottom: 30px;
}

.edit_acount_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 40px;
    flex-direction: column;
}

.edit_acount_content{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.edit_input_inner{
    position: relative;
    margin-bottom: 20px;
}

.edit_input_wrapper{
    position: relative;
    width: 100%;
    height: 60px;
}

.edit_input_title{
    display: block;
    margin-bottom: 10px;
    color: var(--textColor);
    font-size: 18px;
    line-height: 26px;
}

.edit_input {
    height: 100%;
    width: 100%;
    border: none;
    color: rgb(232 232 232 / 60%);
    background-color: rgb(255 159 28 / 20%);
    border-radius: 10px;
    padding: 15px 30px;
    outline: none;
    font-size: 18px;
    line-height: 26px;
    display: block;
}

.edit_input_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
}

.edit_acount_btn{
    text-align: right;
}

.edit_acount_btn a{
    display: inline-block;
    padding: 15px 75px;
    background-color: var(--primaryColor);
    color: var(--primaryBg);
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    border-radius: 10px;
}

.edit_input option{
    background-color: var(--primaryBg);
    color: var(--textColor);
}

.widraw_form {
    max-width: 520px;
    width: 100%;
    margin-left: auto;
    margin-top: 100px;
}

.widraw_form_inner{
    margin-bottom: 30px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 20px;
    flex-direction: column;
}

.widraw_form_inner label{
    font-size: 16px;
    line-height: 22px;
    color: var(--primaryColor);
    font-weight: bold;
    display: block;
}

.widraw_form_inner input,
.widraw_form_inner textarea{
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 17px;
    text-align: center;
    border: 2px solid var(--primaryColor);
    outline: none;
    background-color: transparent;
    color: var(--textColor);
    font-weight: bold;
    line-height: 22px;
    font-size: 16px;
    border-radius: 12px;
    display: block;
}

.widraw_form_inner textarea{
    height: 200px;
}

.refer_image_wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.refer_single_image{
    margin-bottom: 40px;
}


.refer_single_image img{
    width: 100%;
    display: block;
    object-fit: cover;
}

