*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body{
    background-color: rgb(0 0 0 / 100%);
}

.container{
    max-width: 1230px;
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
}

p,ul,li,h1,h2,h3,a{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

:root{
    --primaryColor: #FF9F1C;
    --secondaryColor: #4D3616;
    --primaryBg: #000814;
    --textColor: #FFFFFF;
    --secondaryText: #E8E8E8;
    --transition: 0.3s all linear;
}

.section_padding{
    padding: 50px 0px;
}

.section_title{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.sectiontitle_heading {
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 20px;
}

.sectiontitle_heading span{
    color: var(--primaryColor);
    position: relative;
    font-weight: 700;
}

.sectiontitle_heading span::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--primaryColor);
    bottom: 0px;
    left: 0px;
}

.sectitle_text{
    font-size: 18px;
    color: var(--secondaryText);
    line-height: 26px;
}

/* toogle nav */

.toggle_nav{
    height: 17px;
    width: 30px;
    position: relative;
    display: block;
}

.toggle_nav ul{
    height: 100%;
    width: 100%;
}

.toggle_nav ul li{
    height: 2px;
    width: 100%;
    background-color: var(--primaryColor);
    position: absolute;
    transition: var(--transition);
}

.toggle_nav ul li:first-child{
    top: 0px;
    left: 0px;
}

.toggle_nav ul li:nth-child(2){
    top: 49%;
    left: 0px;
    opacity: 1;
}

.toggle_nav ul li:last-child{
    top: 98%;
    left: 0px;
}

.toggle_nav:hover li:first-child {
    transform: rotate(45deg);
    top: 50%;
}

.toggle_nav:hover li:nth-child(2){
    visibility: hidden;
    opacity: 0;
}

.toggle_nav:hover li:last-child{
    transform: rotate(-45deg);
    top: 50%;
}




