/* 540px */

@media(min-width: 540px){
    .card_slider{
        grid-template-columns: repeat(2, 1fr);
      }

      .banner_btn{
        flex-direction: row;
      }

      .banner_heading {
        font-size: 42px;
        line-height: 52px;
      }

      .banner_text {
        font-size: 19px;
        line-height: 26px;
      }

      .butoon_inner a {
        font-size: 19px;
        line-height: 26px;
      }

      .sectiontitle_heading{
        font-size: 40px;
        line-height: 53px;
        margin-bottom: 30px;
    }

    .cal_ourplan,
    .cal_amount,
    .cal_total_profit{
      width: 48%;
    }

    .main_footer_wrapper {
      grid-template-columns: repeat(3, 1fr);
    }

    .footer_content,
    .footer_newsletter{
      grid-column: span 2;
    }
     
}

/* 768 */

@media(min-width: 768px){
    .header_nav{
        display: block;
    }

    .toggle_nav{
        display: none;
    }

    .banner_section{
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .card_slider{
        grid-template-columns: repeat(3, 1fr);
      }

      .cal_ourplan,
      .cal_amount,
      .cal_total_profit{
        width: 30%;
        margin-bottom: 0px;
      }

      .lastest_wrapper{
        grid-template-columns: repeat(2, 1fr);
      }

      .benifits_wrapper {
        flex-direction: row;
      }

}

/* 1024 */

@media(min-width: 1024px){
    .banner_heading {
        font-size: 52px;
        line-height: 72px;
    }

    .affiliate_wrapper{
      flex-direction: row;
    }

    .affiliate_image{
      width: 33.33%;
    }
    
    .affiliate_content{
      width: calc(100% - 56%);
    }

    .main_footer_wrapper {
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 28px;
    }

    .footer_content,
    .footer_newsletter{
      grid-column: span 2;
    }

    .footer_bottom {
      flex-direction: row;
    }
}

/* 1200 */

@media(min-width: 1200px){}